<!-- when using the CLi it not neccessarry to enclose your element within {{}} e.g:  v-model="{{ count }}" when makin use of the biding function v-model, v-text, etc-->
<template>
  <div class="box">
    <h2>The cout is equal to {{ count }}</h2>
    <p>Manually assign a count by entering it here <input class="inputBox" type="text" v-model="count"></p>
    <button :title="btnIncrement" @click="incrementCount">Increment</button> or <button :title="btnDecrease" @click="decreaseCount">Decrease</button>

  </div>
</template>

<script>
  export default {

    data(){
      return {
        btnIncrement: 'Increment counter by 1',
        btnDecrease: 'Decrease the count value by 1',
        count : 0
      }
    },

    methods: {
      incrementCount() {
        this.count+=1;
      },

      decreaseCount() {
        this.count-=1;
      }
    }
  }
</script>

<style>
  .box{ background: #e3e3e3; padding: 10px; border: 1px solid green; margin-bottom: 1em;}
  .inputBox { background: #e3e3e3; text-align:center; width: 50px; border: 1px solide blue; }
</style>
