<template>
  <div class="box">
    <p>
      <slot name="message-root">
This is a new way of doing things! Keep you belt tied and head strong :)
      </slot>
    </p>
  </div>
</template>

<script>
  export default {

  }
</script>

<style>
  .box{ background: #e3e3e3; padding: 10px; border: 1px solid green; margin-bottom: 1em;}
</style>
