<template>
  <div id="app">
      <h1 :class="className">VueJS With the SFC method on webpack and CLI</h1>
      <h3>Message</h3>
      <p><message><p slot="message-root">Hello there, Have a blessed day</p></message></p>
      <p><message></message></p>
      <p></p>
      <h3>Counter</h3>
      <p><counter></counter></p>
  </div>
</template>

<script>
//Importing your other component in the main app
import Message from './components/Message.vue';
import Counter from './components/Counter.vue';

export default {
  name: 'App',
  //define the other imported component to make use of them
  components : { Message, Counter},
  //className : 'title_header'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.title_header {color:green;}

</style>
